.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	& > * {
		animation: appearance_variants 0.5s 150ms backwards;
		backface-visibility: hidden;
		@keyframes appearance_variants {
			0% {
				opacity: 0;
				transform: translateY(30px);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}